* {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  font-size: large;
}

body {
  background-color: bisque;
}

.search {
  display: flex;
  flex-direction: column;
}

table {
  background-color: blanchedalmond;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
td {
  padding: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
